.homeContainer {
  div {
    & + div {
      margin-top: 3rem;
    }

    &:last-of-type {
      margin-bottom: 4rem;
    }
  }

  .buttonLoadMorePosts {
    margin-top: auto;
    width: max-content;

    background: transparent;
    border: none;
    color: var(--hightlight);
    font-size: 1.125rem;
    font-weight: 600;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
